.logisticsSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.categorySection {
}

.categoriesChartList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
