.sidebar {
  background-color: #f55632;
  color: #fff;
  height: 100vh;
  width: 25vw;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}

.sidebar__heading {
  margin: 2rem 0;
  padding: 0 2rem;
}

.heading__title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.heading__helper {
  text-align: center;
  color: rgba(255, 255, 255, 87%);
  margin: 0;
}

.nav__link {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  margin: 0.4rem 0;
  border-radius: 999px;
  font-size: 1.2rem;
}

.nav__link:active {
  background-color: hsl(31, 33%, 54%);
}

.nav__link_active {
  background-color: #d2bca5;
}

.heading__nav {
  margin: 1.7rem 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: max-content;
  }

  .heading__nav {
    flex-direction: row;
    justify-content: center;
  }

  .nav__link {
    margin: 0 0.4rem;
  }
}
